<h1>Groups targeted</h1>
<ul>
  <% @mu_groups.concat(@dk_groups).each do |group| %>
    <li><%= group %></li>
  <% end %>
</ul>

<h1>Events</h1>
<ul>
  <% @events.each do |event| %>
    <li><a href='<%= event[:ur] %>'><%= event[:date] %> <%= event[:name] %></a></li>
  <% end %>
</ul>
<h1>Existing events Ids</h1>
<ul>
  <% @existing_ids.each do |existing_id| %>
    <li><%= existing_id %></li>
  <% end %>
</ul>
